# tex files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz

*.swp
*.sav
.ipynb_checkpoints/
data/*.nc
literature/*.pdf
RobertWright_Belegarbeit_CM1.pdf

# ignore symlink
anim
# but not directory
!anim/
